@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #000000;
}
.belanosima-regular {
    font-family: "Belanosima", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6.5rem !important;
}

.belanosima-semibold {
    font-family: "Belanosima", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 6.5rem !important;
}

.belanosima-bold {
    font-family: "Belanosima", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 6.5rem !important;
}
