html{
  background-color: black;
  cursor: none;
}
body{
  margin: 0;
  padding: 0;
  color: #fff;
}
.container{
  display: flex;
  flex-direction: column;
}

.title{
  font-size: 0.75rem;
  text-align: center;
  padding: 0px 24px;
}

.cog-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cog{
  max-width: fit-content;
  height: 16rem;
}

.rotation {
  animation: rotation 16s infinite linear;
  transform-origin: center center;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.highlighted{
  background-color: #fff;
  color: black;
}

ul{
  padding-inline-start: 0px;
  list-style-type: none;
  outline: none;
}

li{
  padding-left: 40px;
}

a{
  color: inherit;
  text-decoration: inherit;
}

.post{
  padding-left: 40px;
}